
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened" class="bottom-to-top">
      <div class="my-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div class="with-bg"></div>
        <div>
          <a>
            <img class="circle" src="./assets/images/profile.jpg" width="100">
          </a>
        </div>
      </div>
      <div style="background-color: #03557a !important;" class="mt-2 py-3 text-white" fxLayout="column" fxLayoutAlign="center center"
        fxLayoutGap="7px">
        <div>
          <a>
            <span class="lead">Kristaps Rutkovskis</span>
          </a>
        </div>
        <div>
        </div>
      </div>
      <!–– Adds a Navigation Bar on the left side of the page with clickable entities that sends you to different pages --!>
      <div class="mt-3">
        <mat-nav-list [routerLink]="['/menu']" >
          <a mat-list-item class="ml-2"  style="font-size:20px;">
            Home
          </a>
        </mat-nav-list>
        <mat-nav-list [routerLink]="['/create']" >
          <a mat-list-item class="ml-2"  style="font-size:20px;">
            Add Entry
          </a>
        </mat-nav-list>
        <mat-nav-list [routerLink]="['/list']" >
          <a mat-list-item class="ml-2"  style="font-size:20px;">
            Country List
          </a>
        </mat-nav-list>
        <mat-nav-list [routerLink]="['/query']" >
          <a mat-list-item class="ml-2"  style="font-size:20px;">
            Contact
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
  
    <mat-toolbar>Edit Entry</mat-toolbar>
<mat-card>
  <form (submit)="onEditSend(sendForm)" #sendForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="country"
        ngModel={{send.country}}
        required
        #country="ngModel"
        >
    </mat-form-field>
    <mat-form-field>
        <input
          matInput
          type="text"
          name="capital"
          ngModel={{send.capital}}
          required
          #capital="ngModel"
          >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="population"
          ngModel={{send.population}}
          required
          #population="ngModel"
          >
      </mat-form-field>
    <button
      mat-fab
      color="primary"
      type="submit">Edit</button>
  </form>
</mat-card>
